.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 270px auto 50px;
  grid-gap: 25px;
}

.Headerbox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Headerflex {
  display: flex
  justify-content: center;
}

.Sidebarbox {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Mainbox {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Footerbox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

footer {
  background-color: #2C5282;
}

p.footer {
  font-size: 18px;
  color: #FFFFFF;
}

header {
  background-color: #63B3ED;
  color: #FFFFFF;
}

p.header {
  font-size: 18px;
  color: #FFFFFF;
}


p {
  font-size: 18px;
  color: #2D3748;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.About {
  background-color: #E2E8F0;
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 32px;
  color: #48BB78;
}

h3 {
  font-size: 28px;
  color: #48BB78;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  font-size: 20px;
  color: #718096;
}

a {
  color: #4299E1;
}



