.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px auto 50px;
  grid-gap: 20px;
}

.Headerbox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.Headerflex {
  display: flex
  justify-content: center;
}



.Sidebarbox {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Mainbox {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Footerbox {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}


p {
  font-size: 18px;
  color: #2D3748;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica 
Neue",Arial,"Noto Sans",sans-serif;
}

header {
  background-color: #63B3ED;
  color: #FFFFFF;
}

h1 {
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

about {
  background-color: #E2E8F0;
}

footer {
  background-color: #2C5282;
  color: #FFFFFF;
}
